BasedOnStyle: GNU

SortIncludes: CaseSensitive

# === Tabs and indentation ===
UseTab: Always
IndentWidth: 4
TabWidth: 4

# === Line breaks for readability ===
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
PenaltyBreakAssignment: 100
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 150

# === Function formatting ===
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
PenaltyBreakBeforeFirstCallParameter: 0

# === Limits ===
ColumnLimit: 80

# === Misc ===
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left